export(gradientForest, cumimp, cumimp.gradientForest, density.gradientForest, importance.gradientForest,
      print.gradientForest, plot.gradientForest, predict.gradientForest, plot.predict.gradientForest, 
      combinedGradientForest, cumimp.combinedGradientForest, density.combinedGradientForest, 
      importance.combinedGradientForest, plot.combinedGradientForest, print.combinedGradientForest)

importFrom(extendedForest, importance)
importFrom(stats, density)
S3method(cumimp, gradientForest)
S3method(density, gradientForest)
S3method(importance, gradientForest)
S3method(print, gradientForest)
S3method(plot, gradientForest)
S3method(predict, gradientForest)
S3method(plot, predict.gradientForest)
S3method(cumimp, combinedGradientForest)
S3method(density, combinedGradientForest)
S3method(importance, combinedGradientForest)
S3method(plot, combinedGradientForest)
S3method(print, combinedGradientForest)


